:root {
  --corp-blue:#003e73;
  --corp-gold:#cca876;
}
.navbar-header {
  border-radius: 0%;
}
.nav {
  padding-left: 60rem;
}
.navbar > .container-fluid .navbar-brand {
  margin-left: -5rem;
}
#logo {
  width: 6em;
  margin-top: 0rem;
  margin-left: 0rem;
}
.carousel-inner {
  margin-top: 1rem !important;
}
.carousel-inner img {
  width: 100vw;
  max-height: 600px;
  object-fit: cover;
}

#navMenu {
  float: right !important;
}
.navbar-nav {
  margin-left: 45rem;
}
.navbar {
  position: fixed !important;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar {
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
}
.nav-link:hover .active{
  color: var(--corp-blue); 
}
button.lang-button{
  color: black; 
  background-color: transparent;
  border-color: white; 
}
button.lang-button:hover, button.lang-button:active:focus, .show, .dropdown-toggle{
  color: var(--corp-blue); 
  background-color: transparent;
  border-color: white; 
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
}


button.lang-button[aria-expanded="true"]{
  color: var(--corp-blue) !important;
  background-color: transparent !important;
  border-color: white !important;
}

h2 {
  color: var(--corp-gold) !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.container {
  padding-bottom: 1rem;
}
.navbar-nav > li > a {
  line-height: 30px;
}

.card2 {
  display: block;
  border-top: 0px;
  border-left: 0px;
  border-right: 1px solid #e5e7e9;
  border-bottom: 1px solid #e5e7e9;
  margin-left: 1rem;
  height: 15rem;
  margin-bottom: -3rem;
  transition-timing-function: ease;
}

.card-body-card {
  display: block;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 1px solid #e5e7e9;
  border-top: 1px solid #e5e7e9;
  margin-right: 1rem;
  height: 15rem;
  margin-top: -3rem;
  transition-timing-function: ease;
}
.card-body-card:hover .cardp {
  border: 1px solid var(--corp-gold)  !important;
  transition: 0.33s all ease;
}
.card-body-card:active .cardp {
  border: 1px solid var(--corp-gold)  !important;
  transition: 0.33s all ease;
}

.flag-icon-en {
  background-image: url(../images/en.png) 0 0 no-repeat;
}
.flag-icon-es {
  background-image: url(../images/es.png) 0 0 no-repeat;
}
.flag-icon-eu {
  background-image: url(../images/eu.png)0 0 no-repeat;
}

#flag-icon {
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}



.fondo {
  width: 100vw;
  height: 400px;
  z-index: 0;
  background-image: url("../images/cropped-fondo-horizontal6.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  top: 40px;
}

.caja {
  width: 70%;
  height: auto;
  position: absolute;
  margin-left: 10rem;
}

.thumbnail {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: lightgrey;
  background-clip: border-box;
  border-radius: 0%;
  z-index: 0;
  height: 20rem;
  margin-bottom: 6rem;
}
.thumbnail:hover {
  background-color:black;
}


.thumbnail-box {
  width: 90%;
  height: 6rem;
  border-radius: 0%;
  background-color: var(--corp-gold);
  align-self: center;
  margin-bottom: -1rem;
  text-align: center;
  color: white;
}

.img_form {
  margin-top: -5.1rem;
  height: 670px;
}

.form-background {
  background-color: rgb(221, 225, 235);
  width: 100vw;
  height: 620px;
  z-index: -1;
}

.form-input {
  width: 100%;
  height: auto;
  min-height: 52px;
  padding: 14px 19px;
  border: 0px solid;
  border-radius: 5px;
  -webkit-appearance: none;
  line-height: 24px;
  margin-bottom: 2rem;
  background-color: white;
  color: gray;
}
.text-area {
  height: 10rem;
}

.formConsulta {
  padding: 2rem;
}
.formConsulta h3 {
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.padd {
  margin-top: 10rem;
  margin-right: 10rem;
}

.padd_mensaje{
  margin-top: 10rem;
  width: 100vw;
  position: relative;

}

.mensaje{
  text-decoration: solid;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
  background-color: rgb(0, 0, 0, 0.3);
  text-align: center;
  padding: 1rem 3rem;
  margin-top:  3.5rem;
  font-family: cursive;
}
.mensaje p:last-child{
  color: var(--corp-gold); 
}

.padd-interior {
  margin-top: 4.5rem;
  margin-right: 10rem;
}
.nombreProfesional{
  padding-top: 1.5rem;
  font-weight: bold;
  font-size: large;
}
.departamento{
  color:var(--corp-gold); 
  font-weight: bold;
  font-size: 16px !important;
  text-align: center;

}
.thumbnail ul li {
  font-size: 13px;
  text-align: left;
  padding-left: 0;

}

.departamento{
  text-align: center !important;
  font-weight: bold;
  font-size: 16px;
}
.why-us > ol.carousel-indicators{
  top: 0 !important;
}
.why-us > ol.carousel-indicators li{
  background-color: var(--corp-blue); 
  margin-left: 6rem;
  margin-right: 6rem;
  background-clip: unset;
  border-radius: 50%;
  height: 10px;
}

.why-us > ol.carousel-indicators .linea-carousel-indicators {
  border: 1px solid var(--corp-gold); 
  height: 1px;
  position: absolute;
  top: 13px;
  width: 415px;
  z-index: -3;
}
.oval{
  background-color: white;
  height: 18px;
  width: 18px;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 0.4rem;
  margin-top: -0.3rem;
  z-index: 1000000;
}
.title-pn {
  font-size: xxx-large;
  font-family: system-ui;
  text-align: center;
  font-weight: 900;
  margin-bottom: 3rem;
  color: var(--corp-blue); 
}
.why-us > .carousel-inner{
  top: 100px;
}
.inner-box-wus.row {
  margin: 4rem;
}

.experiences > .box{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid var(--corp-gold); 
  margin-top: 8rem;
  width: 300px;
  height: 300px;
}
.experiences{
  margin-left: 6.5rem;
  margin-right: 2rem;
  align-content: center !important;
}
.prev-ops, .next-ops{
  color:var(--corp-gold); 
  height: 50px;
  width: 50px;
}

p.nameClient {
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: 100;
  color: gray;
  text-align: center;
  margin-top: 3rem;
}
.fa-star:before {
  content: "\f005";
  color: var(--corp-gold); 
  
}
p.cite {
  margin: 1rem;
  font-size: x-large;
  font-family: cursive;
  text-align: center;
}
.content-wus p:first-child{
  font-size: 40px;
  font-family: ui-sans-serif;
  color: var(--corp-blue); 
  font-weight: 700;
  line-height: 43px;
  margin: 3rem 0;
}
.banner-solo {
  margin-top: 14rem;
  /* height: 200px; */
}
.banner-solo img{
  height: 300px;
    width: 100%;
}
.content-wus p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: x-large;
  line-height: 27px;
}

footer {
  background-color: #2b2f40;
  width: 99vw;
  height: 250px;
  margin-top: -2rem;
}
footer li a{
  color:#ceceec;
  text-decoration: none;

}

footer li a:hover{
  color:var(--corp-gold); 
  text-decoration: none;

}
.img-footer {
  padding-top: 1rem;
  height: 5rem;
}
.divisor{
  height: 1px;
  border: 1px solid;
  border-color: var(--corp-gold); 
  width: 100vw;
  align-content: center;
}

.button {
  text-align: center;
  max-width: 100%;
  padding: 9px 40px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.71429;
  font-weight: 700;
  border-radius: 0;
  border: 0px solid;
  background-color: var(--corp-gold); 
  transition: 0.3s ease-out;
  color: white;
}

footer p {
  margin-bottom: 1rem;
  color: white;
}
footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.5px solid gray !important;
}
footer ul {
  margin-top: 0;
  list-style: square;
  margin-bottom: 1rem;
  color: var(--corp-gold); 
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-box-horizontal .unit-left {
  min-width: 48px;
}

.icon-box-horizontal [class*="icon-md"] {
  margin-top: -2px;
}

.icon-box-horizontal [class*="icon-lg"] {
  margin-top: -5px;
}

.icon-box-horizontal * + p {
  margin-top: 9px;
}

.icon-box {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 30px;
  text-align: center;
  cursor: default;
}

.icon-box:before,
.icon-box:after {
  content: "";
  position: absolute;
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  border: 1px solid #e5e7e9;
  pointer-events: none;
  transition: 0.33s all ease;
}

.icon-box:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}

.icon-box:after {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}

.icon-box .box-top .box-header > * {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-size: 18px;
}

.divider {
	width: 49px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
}

.bg-accent {
	background: var(--corp-gold); 
	fill:var(--corp-gold); 
}

.icon-box .divider {
  max-width: 100%;
  margin: 13px auto;
  transition: 0.33s all ease;
}

.icon-box .box-top,
.icon-box .box-body {
  position: relative;
  will-change: transform;
  transition: 0.33s all ease;
  -webkit-filter: blur(0);
}

.icon-box .box-top {
  top: 0;
}

.icon-box .box-body {
  max-width: 100%;
}

.icon-box .box-header {
  bottom: 0;
}

.icon-box .box-icon {
  min-height: 46px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-box * + .box-header {
  margin-top: 1.5rem;
}

.icon-box.hover:before,
.icon-box.hover:after,
.icon-box:hover:before,
.icon-box:hover:after {
  width: 100%;
  height: 100%;
  border-color: var(--corp-gold); 
}

.icon-box.hover .box-top,
.icon-box:hover .box-top {
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px);
}

.icon-box.hover .box-body,
.icon-box:hover .box-body {
  -webkit-transform: translateY(9px);
  transform: translateY(9px);
}

.icon-box.hover .divider,
.icon-box:hover .divider {
  width: 168px;
}

.lagIcon{
  height: 20px;
  width: 20px;
}

button[aria-expanded="true"].icon-box{
  width: 100%;
  height: 100%;
  border-color: var(--corp-gold);   
}

.selectorIdioma{
  border: none;
  padding-left: 20rem;
  padding-top: 0.5rem;
}
.selectorApariencia{
  border: none;
  text-decoration: overline;
}
.mapa{
  z-index: 0;
}

@media (min-width: 768px) {
  .icon-box {
    /*max-width: 308px;*/
    padding: 67px 40px 61px;
  }
  .icon-box .box-top .box-header > * {
    font-size: 22px;
  }
}

.ico {
  color: var(--corp-gold); ;
}
.thumbnail hr {
  width: 6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.thumbnail:hover {
  background-color: lightslategray;
}

.profesionales{
    max-width: 76% !important;
    margin-left: 9rem !important;
    margin-right: -5rem !important;
    margin-top: 10rem;
}


.tituloCaja{
  color: #444444 !important;
  font-weight: bold !important;
  
}

.tituloCaja:hover{
  color: #444444 !important;
  font-weight: bold !important;
  text-decoration: none;
  
}


.contenidoCaja{
  color: #9f9f9f !important;

}

.rd-mailform {
	position: relative;
}
body{
  overflow-x: hidden;
  background-color: #fbfbfb
}
.list-marked-variant-2 > li > a {
	position: relative;
	display: inline-block;
	padding-left: 20px;
}

.list-marked-variant-2 > li > a:before {
	content: '\f105';
	position: absolute;
	left: 0;
	top: 1px;
	font: 400 18px/24px 'FontAwesome';
	color: var(--corp-gold);
	transition: .33s all ease;
}

.list-marked-variant-2 > li > a:hover:before {
	left: 4px;
}

.list-marked-variant-2 > li + li {
	margin-top: 14px;
}

.row.menuCards {
  margin-left: 1rem;
}

.boxmenu {
  text-align: left;
  font-weight: 600;
  font-family: 'sans-serif';
  letter-spacing: 0.2px;
  color: var(--corp-blue); 
  margin: 2rem 5px;
  max-width: 270px !important;
  min-height: 10rem;
  border: 1px solid white;
  box-shadow: 5px 2px 10px 1px lightgrey;
}

.boxmenu.box:hover{
  background-color: var(--corp-blue) !important;
  font-weight: 500;
  color: white;
}

.color {
  background-color: var(--corp-blue); 
  width: 2rem;
  margin-left: -1rem;
}
i.iconCards {
  color: white;
  position: absolute;
  top: 1.8rem;
  left: 0.5rem;
}
.imgCards{

}
.ver-mas{
  color:var(--corp-blue); 
  font-weight: bold;
  background-color: transparent;
  border: none;
}
#closeServices{
  background-color: transparent;
  border: 0px;
  margin-top: -1.5rem;
  color:white;
  font-weight: 100;
  margin-right: -2rem;
    margin-left: 1rem;
}